<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>One World Datings</title>
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <header class="wd-header">
        <section class="wd-section">
            <div class="wd-row">
                <div class="wd-col wd-col-0">
                    <div class="wd-module wd-menu">
                        <div class="wd-menu__text">Menu</div>
                        <img  class="wd-menu__icon" src="../images/general_icons/owd_burger-menu@2x.png" alt="burger menu icon">
                    </div>
                </div>
            </div>
        </section>
    </header>

    <div class="wd-main-content">
        <section class="wd-section wd-hero-section">
            <div class="wd-row wd-title">
                <div class="wd-col wd-col-0">
                    <div class="wd-module wd-logo">
                        <img class="wd-logo__image" src="../images/owd_logo@2x.png" alt="logo">
                    </div>
                    <div class="wd-module wd-main-title">
                        <h1 class="wd-main-title__title">Find Someone to Click With</h1>
                    </div>
                    <div class="wd-module wd-button">
                        <a class="wd-button__link">Find Someone to Click With</a>
                    </div>
                </div>
            </div>
            <div class="wd-row wd-row-1-3 wd-blurbs-section">
                <div class="wd-col wd-col-0">
                    <div class="wd-module wd-blurb wd-blurb_pink">
                        <img class="wd-blurb__icon" src="../images/general_icons/worldwide.png" alt="worldwide picture">
                        <h3 class="wd-blurb__title">One World</h3>
                    </div>
                </div>
                <div class="wd-col wd-col-1">
                    <div class="wd-module wd-blurb wd-blurb_red">
                        <img class="wd-blurb__icon" src="../images/general_icons/owd_heart@2x.png" alt="heart picture">
                        <h3 class="wd-blurb__title">Two Hearts</h3>
                    </div>
                </div>
                <div class="wd-col wd-col-1">
                    <div class="wd-module wd-blurb wd-blurb_orange">
                        <img class="wd-blurb__icon" src="../images/general_icons/owd_wireless@2x.png" alt="wireless picture">
                        <h3 class="wd-blurb__title">One Site</h3>
                    </div>
                </div>
            </div>
        </section>
        <section class="wd-section wd-welcome-section">
            <div class="wd-row wd-title">
                <div class="wd-col wd-col-0">
                    <div class="wd-module wd-title">
                        <h2 class="wd-title__title">
                            <img src="../images/owd_welcome_heart@2x.png" alt="welcome heart">
                            Welcome!
                        </h2>                        
                    </div>
                    <div class="wd-module wd-quote">
                        <div class="wd-quote__text">“Love is a promise, love is a souvenir, once given never forgotten, never let it disappear.”</div>
                        <div class="wd-quote__author">- John Lennon</div>
                    </div>
                </div>
            </div>
            <div class="wd-row wd-row-1-3 wd-form">
                <div class="wd-col wd-col-0">
                    <div class="wd-module wd-image">
                        <img class="wd-image__image" src="../images/owd_welcome-people-0.jpg" alt="People Collage">
                    </div>
                </div>
                <div class="wd-col wd-col-1">
                    <div class="wd-module wd-title">
                        <h2 class="wd-title__title">
                            IT`S FREE TO JOIN
                        </h2>                        
                    </div>
                    <div class="wd-sign">
                        <button class="wd-sign__button">
                            <img class="wd-sign__facebook-ico" src="../images/owd_welcome-facebook.png" alt="facebook-ico">
                            Sign up with Facebook
                        </button>
                    </div>
                    <div class="wd-select">
                        <div class="wd-select__text">or</div>
                        <hr class="wd-select__line">
                    </div>
                    <div class="wd-module wd-form">
                        <form action="#" class="wd-form__form">
                            <input type="email" class="wd-form__field wd-form__field_email" placeholder="Email">
                            <input type="text" class="wd-form__field wd-form__field_username" placeholder="Username">
                            <input type="text" class="wd-form__field wd-form__field_password" placeholder="Password">
                            <input type="text" class="wd-form__field wd-form__field_conf-password" placeholder="Confirm Password">
                            <button type="submit" class="wd-form__button">Let’s Go!</button>
                        </form>
                    </div>
                </div>
                <div class="wd-col wd-col-2">
                    <div class="wd-module wd-image">
                        <img class="wd-image__image" src="../images/owd_welcome-people-0.jpg" alt="People Collage">
                    </div>
                </div>
            </div>
        </section>
        <section class="wd-section wd-join-section">
            <div class="wd-row wd-started-row">
                <div class="wd-col wd-col-0">
                    <div class="wd-module wd-title">
                        <h2 class="wd-title__title">JOIN NOW</h2>
                        <p class="wd-title__caption">It’s free!</p>
                    </div>
                    <div class="wd-module wd-button">
                        <a class="wd-button__link">GET STARTED</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
    
    <footer class="wd-footer">
        <section class="wd-section wd-newsletter-section">
            <div class="wd-row">
                <div class="wd-col-0">
                    <div class="wd-module wd-newsletter">
                        <div class="wd-newsletter__caption">Sign up for our newsletter</div>
                        <form class="wd-newsletter__form">
                            <input type="text" class="wd-newsletter__email-field" placeholder="Email Address">
                            <button type="submit" class="wd-newsletter__submit-button">Subscribe</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <section class="wd-section wd-footer-menu-section">
            <div class="wd-row">
                <div class="wd-col-0">
                    <nav class="wd-module wd-footer-menu">
                        <ul class="wd-footer-menu__list">
                            <li class="wd-footer-menu__item">
                                <a href="/" class="wd-footer-menu__link">About</a>
                            </li>
                            <li class="wd-footer-menu__item">
                                <a href="/" class="wd-footer-menu__link">Contact</a>
                            </li>
                            <li class="wd-footer-menu__item">
                                <a href="/" class="wd-footer-menu__link">FAQs</a>
                            </li>
                            <li class="wd-footer-menu__item">
                                <a href="/" class="wd-footer-menu__link">Blog</a>
                            </li>
                            <li class="wd-footer-menu__item">
                                <a href="/" class="wd-footer-menu__link">Online Safety</a>
                            </li>
                            <li class="wd-footer-menu__item">
                                <a href="/" class="wd-footer-menu__link">Privacy Policy</a>
                            </li>
                            <li class="wd-footer-menu__item">
                                <a href="/" class="wd-footer-menu__link">Terms of Use</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </section>
        <section class="wd-section wd-flags-section">
            <div class="wd-row">
                <div class="wd-col-0">
                    <div class="wd-module wd-flags">
                        <img src="../images/flags_icons/Czech.png" alt="flag-1">
                        <img src="../images/flags_icons/Greek.png" alt="flag-2">
                        <img src="../images/flags_icons/English.png" alt="flag-3">
                        <img src="../images/flags_icons/Taiwanese.png" alt="flag-4">
                        <img src="../images/flags_icons/Japanese.png" alt="flag-5">
                        <img src="../images/flags_icons/Bosnian.png" alt="flag-6">
                        <img src="../images/flags_icons/German.png" alt="flag-7">
                        <img src="../images/flags_icons/Italian.png" alt="flag-8">
                        <img src="../images/flags_icons/Dutch.png" alt="flag-9">
                        <img src="../images/flags_icons/Chinese.png" alt="flag-10">
                        <img src="../images/flags_icons/Arabic.png" alt="flag-11">
                        <img src="../images/flags_icons/French.png" alt="flag-12">
                        <img src="../images/flags_icons/Slovenian.png" alt="flag-13">
                        <img src="../images/flags_icons/Spanish.png" alt="flag-14">
                        <img src="../images/flags_icons/Korean.png" alt="flag-15">
                        <img src="../images/flags_icons/Portuguese.png" alt="flag-16">
                        <img src="../images/flags_icons/Norwegian.png" alt="flag-17">
                        <img src="../images/flags_icons/Russian.png" alt="flag-18">
                        <img src="../images/flags_icons/Polish.png" alt="flag-19">
                        <img src="../images/flags_icons/Swedish.png" alt="flag-20">
                        <img src="../images/flags_icons/Danish.png" alt="flag-21">
                        <img src="../images/flags_icons/Turkey.png" alt="flag-22">
                        <img src="../images/flags_icons/Slovak.png" alt="flag-23">
                        <img src="../images/flags_icons/Vietnamese.png" alt="flag-24">
                        <img src="../images/flags_icons/Croatian.png" alt="flag-25">
                        <img src="../images/flags_icons/Thai.png" alt="flag-26">
                        <img src="../images/flags_icons/Romanian.png" alt="flag-27">
                    </div>
                    <div class="wd-module wd-copyright">
                        © 2017 All World Dating Enterprise Company LLC. All rights reserved. We pledge never to share or sell your Email Address.
                    </div>
                </div>
            </div>
        </section>
    </footer>    
</body>
</html>