<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <header class="wd-header">
        <section class="wd-hd-section"></section>
    </header>

    <div class="wd-main-content">
        <section class="wd-section wd-hero">
            <div class="wd-row wd-title">
                <div class="wd-col wd-col-0">
                    <div class="wd-module wd-logo">
                        <img class="wd-logo__image" src="../images/owd_logo@2x.png" alt="logo">
                    </div>
                    <div class="wd-module wd-main-title">
                        <h1 class="wd-main-title__title">Find Someone to Click With</h1>
                    </div>
                    <div class="wd-module wd-button">
                        <a class="wd-button__link">Find Someone to Click With</a>
                    </div>
                </div>
            </div>
            <div class="wd-row wd-row-1-3 wd-blurbs">
                <div class="wd-col wd-col-0">
                    <div class="wd-module wd-blurb wd-blurb_pink">
                        <img class="wd-blurb__icon" src="../images/general_icons/worldwide.png" alt="worldwide picture">
                        <h3 class="wd-blurb__title">One World</h3>
                    </div>
                </div>
                <div class="wd-col wd-col-1">
                    <div class="wd-module wd-blurb wd-blurb_red">
                        <img class="wd-blurb__icon" src="../images/general_icons/owd_heart@2x.png" alt="heart picture">
                        <h3 class="wd-blurb__title">Two Hearts</h3>
                    </div>
                </div>
                <div class="wd-col wd-col-1">
                    <div class="wd-module wd-blurb wd-blurb_orange">
                        <img class="wd-blurb__icon" src="../images/general_icons/owd_wireless@2x.png" alt="wireless picture">
                        <h3 class="wd-blurb__title">One Site</h3>
                    </div>
                </div>
            </div>
        </section>
        <section class="wd-section wd-welcome">
            <div class="wd-row wd-title">
                <div class="wd-col wd-col-0">
                    <div class="wd-module wd-title">
                        <h2 class="wd-title__title">
                            <img src="../images/owd_welcome_heart@2x.png" alt="welcome heart">
                            Welcome!
                        </h2>                        
                    </div>
                    <div class="wd-module wd-quote">
                        <div class="wd-quote__text">“Love is a promise, love is a souvenir, once given never forgotten, never let it disappear.”</div>
                        <div class="wd-quote__author">- John Lennon</div>
                    </div>
                </div>
            </div>
            <div class="wd-row wd-row-1-3 wd-form">
                <div class="wd-col wd-col-0">
                    <div class="wd-module wd-image">
                        <img class="wd-image__image" src="../images/owd_welcome-people-0.jpg" alt="People Collage">
                    </div>
                </div>
                <div class="wd-col wd-col-1">
                    <div class="wd-module wd-title">
                        <h2 class="wd-title__title">
                            IT`S FREE TO JOIN
                        </h2>                        
                    </div>
                    <div class="wd-sign">
                        <button class="wd-sign__button">
                            <img class="wd-sign__facebook-ico" src="../images/owd_welcome-facebook.png" alt="facebook-ico">
                            Sign up with Facebook
                        </button>
                    </div>
                    <div class="wd-select">
                        <div class="wd-select__text">or</div>
                        <hr class="wd-select__line">
                    </div>
                    <div class="wd-module wd-form">
                        <form action="#" class="wd-form__form">
                            <input type="email" class="wd-form__field wd-form__field_email" placeholder="Email">
                            <input type="text" class="wd-form__field wd-form__field_username" placeholder="Username">
                            <input type="text" class="wd-form__field wd-form__field_password" placeholder="Password">
                            <input type="text" class="wd-form__field wd-form__field_conf-password" placeholder="Confirm Password">
                            <button type="submit" class="wd-form__button">Let’s Go!</button>
                        </form>
                    </div>
                </div>
                <div class="wd-col wd-col-2">
                    <div class="wd-module wd-image">
                        <img class="wd-image__image" src="../images/owd_welcome-people-0.jpg" alt="People Collage">
                    </div>
                </div>
            </div>
        </section>
        <section class="wd-section wd-join-section">
            <div class="wd-row wd-started-row">
                <div class="wd-col wd-col-0">
                    <div class="wd-module wd-title">
                        <h2 class="wd-title__title">JOIN NOW</h2>
                        <p class="wd-title__caption">It’s free!</p>
                    </div>
                    <div class="wd-module wd-button">
                        <a class="wd-button__link">GET STARTED</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
    
    <footer class="wd-footer">
        <section class="wd-ft-section"></section>
    </footer>    
</body>
</html>