<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clear JS Slider</title>
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <section class="wd-section wd-slider-section">
        <div class="wd-row">
            <div class="wd-col">
                <div class="wd-slider">
                    <div class="wd-slider__slide-wrapper">
                        <div class="wd-slider__item">
                            <img src="../images/slider_images/pexels-andrew-neel-4264047.jpg" alt="slide" class="wd-slider__image">
                        </div>
                        <div class="wd-slider__item">
                            <img src="../images/slider_images/pexels-cottonbro-3298637.jpg" alt="slide" class="wd-slider__image">
                        </div>
                        <div class="wd-slider__item">
                            <img src="../images/slider_images/pexels-cottonbro-4253300.jpg" alt="slide" class="wd-slider__image">
                        </div>
                        <div class="wd-slider__item">
                            <img src="../images/slider_images/pexels-cottonbro-4820677.jpg" alt="slide" class="wd-slider__image">
                        </div>
                        <div class="wd-slider__item">
                            <img src="../images/slider_images/pexels-eghost-2611917.jpg" alt="slide" class="wd-slider__image">
                        </div>
                        <div class="wd-slider__item">
                            <img src="../images/slider_images/pexels-min-an-1482803.jpg" alt="slide" class="wd-slider__image">
                        </div>
                        <div class="wd-slider__item">
                            <img src="../images/slider_images/pexels-pascal-claivaz-410648.jpg" alt="slide" class="wd-slider__image">
                        </div>
                        <div class="wd-slider__item">
                            <img src="../images/slider_images/pexels-rene-asmussen-2544829.jpg" alt="slide" class="wd-slider__image">
                        </div>
                        <div class="wd-slider__item">
                            <img src="../images/slider_images/pexels-svetlana-ponomareva-4282688.jpg" alt="slide" class="wd-slider__image">
                        </div>
                        <div class="wd-slider__item">
                            <img src="../images/slider_images/pexels-svetlana-ponomareva-4282724.jpg" alt="slide" class="wd-slider__image">
                        </div>
                    </div>
                    <div class="wd-slider__dots"></div>
                    <div class="wd-slider__controls">
                        <button class="wd-slider__prev-button">Prev</button>
                        <button class="wd-slider__next-button">Next</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../js/second-slider.js"></script>
</body>
</html>