// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$grey-extra-light: #fafafa;
$grey-light:#dcdcdc;
$grey: #eeeeee;

$violet-medium: #81398b;
$violet-extra-dark: #642f6b;
$violet-dark: #45124c;
$violet-black: #2f1946;

$pink: #fe4a5d;
$yellow: #f9b416;
$cyan: #00cfae;
$red: #e22028;
$orange:#ff6c00;
$blue: #2f53a3;

$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 980px;
$laptop-width: 1024px;
$laptop-medium-width: 1200px;
$laptop-large-width: 1440px;
